body {
    background-color: rgb(44,62,80);
}

.container {
    background-color: white;
    width: 550px;
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    padding: 30px 50px;
}

.container2 .text {
    font-size: 1.75em;
    font-weight: 500;
    text-align-last: center;
}

.container2 {
    padding: 20px;
}

.container .container2 .footer {
    font-size: 1em;
    text-align: right;
}

.fa {
    color: white;
}

.button-icon {
    background-color: rgb(44,62,80);
    border: none;
    width: 35px;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.button-text {
    background-color: rgb(44,62,80);
    border: none;
    color: white;
    float: right;
    border-radius: 3px;
}

i {
    padding: 5px;
}

.fa.fa-quote-left {
    color: black;
}

.author-info {
    color: white;
    margin-top: 10px;
    text-align: center;
}
